<div class="navbar">
  <div class="logo-container">
    <a href="{{ .Params.logoURL }}" target="_blank">
      <img src="{{ .Params.logoImagePath | relURL }}" alt="{{ .Params.logoAlt }}" class="logo">
    </a>
  </div>
  <div class="headline-links-container">
    <div class="headline-container">
      <h1 class="headline">{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
    </div>

    <div class="links-container">
      <div class="dropdown">
        <button class="dropbtn">{{ .Params.ToolsName }} &#9662;</button>
        <div class="dropdown-menu">
          {{ range .Params.ToolsDropDown }}
            <a href="{{ .Link }}" target="_blank">{{ .Name }}</a>
          {{ end }}
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">{{ .Params.Link1Name }} &#9662;</button>
        <div class="dropdown-menu">
          {{ range .Params.Link1Dropdown }}
            <a href="{{ .url }}" target="_blank">{{ .name }}</a>
          {{ end }}
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">{{ .Params.Link2Name }} &#9662;</button>
        <div class="dropdown-menu">
          {{ range .Params.Link2Dropdown }}
            <a href="{{ .url }}" target="_blank">{{ .name }}</a>
          {{ end }}
        </div>
      </div>    

      <div class="dropdown">
        <a href="{{ .Params.Link3Link }}" target="_blank" class="dropbtn">{{ .Params.Link3Name }}</a>
      </div>
    </div>    
  </div>
</div>
