/*--- Slider Container ---*/

.slider-container {
  position: relative;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; 
  max-width: 1000px; 
  min-width: 300px; 
  height: 700px; 
  border: 2px solid rgb(94, 94, 94);
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; 
  margin-top: 100px; 
}

@media screen and (max-width: 600px) {
  .slider-container {
    height: auto;
    max-height: 600px;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #858585;
  color: #000000;
  font-size: 24px;
  padding: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slider img {
  width: 100%; /* Changed from 250px to 100% */
  height: auto; /* Changed from 250px to auto */
  object-fit: contain;
  border-radius: 25px;
}

/* Dots container */
.dots-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px; /* Adjust this value if needed */
}

/* Dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Active Dot */
.dot.active {
  background-color: #3849df!important; /* Change this to your desired color for the active slide */
}

.slider-container .mySlides p {
  color: rgb(5, 5, 5);
  font-size: calc(0.9rem + 0.8vw); /* adjust as needed */
  padding-left: 10px; /* Added left padding */
  padding-top: 20px; /* Added top padding */
  word-wrap: break-word; /* Added word-wrap */
  overflow-wrap: break-word; /* Added overflow-wrap */
}

.slider-container .mySlides {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slider-container .mySlides img {
  max-width: 100%;
  max-height: 40%;
  object-fit: cover;
  padding: 0% 0%;
  margin: 0 auto;
}

/* Headings in the slides */
.slider-container .mySlides h2 {
  padding-top: 20px; /* Added top padding */
  font-size: 36px; /* Larger font size */
  font-weight: bold; /* Bold text */
}

