{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<body>
  <div class="members-container">
    <div id="members" class="members-section">
      <h2>Members</h2>
      <ul>
        {{ range .Params.members }}
        <li>
          <div class="member">
            <div class="member-pic">
              <img src="{{ .picture }}" alt="{{ .name }}">
            </div>
            <div class="member-info">
              <h4><a href="{{ .link | absURL }}" target="_blank">{{ .name }}</a></h4>
              <p>{{ .institute }}</p>
              <p>Email: <a href="mailto:{{ .email }}">{{ .email }}</a></p>
            </div>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="content">
    {{ .Content }}
  </div>
</body>
</html>
{{ end }}
