{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/members.css"> <!-- Include the external CSS file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="members-container">
    {{ range .Params.groups }}
    <div id="members" class="members-section">
      <h2>{{ .groupTitle }}</h2>
      <ul>
        {{ range .members }}
        <li>
          <div class="member">
            <div class="member-pic">
              <img src="{{ .picture }}" alt="{{ .name }}">
            </div>
            <div class="member-info">
              <h4>{{ .name }}</h4>
              <p>{{ .institute }}</p>
              <p>Email: <a href="mailto:{{ .email }}">{{ .email }}</a></p>
              <div class="social-icons">
                {{ if .researchgate }}
                <a href="{{ .researchgate }}" target="_blank"><i class="fab fa-researchgate"></i></a>
                {{ end }}
                {{ if .linkedin }}
                <a href="{{ .linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                {{ end }}
                {{ if .google_scholar }}
                <a href="{{ .google_scholar }}" target="_blank"><i class="fab fa-google"></i></a>
                {{ end }}
                {{ if .github }}
                <a href="{{ .github }}" target="_blank"><i class="fab fa-github"></i></a>
                {{ end }}
                {{ if .twitter }}
                <a href="{{ .twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
                {{ end }}
                {{ if .homepage }}
                <a href="{{ .homepage }}" target="_blank"><i class="fas fa-globe"></i></a>
                {{ end }}
              </div>
            </div>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
  
  <!-- LOGO of participating institutions -->
  <div class="institutions-logos">
    <h2>Institutional Members</h2>
    <div class="row">
      {{ range .Params.institutions }}
      <div class="col">
        <a href="{{ .url }}" target="_blank">
          <img src="{{ .logo }}" alt="Logo of {{ .name }}" class="img-fluid" style="max-width: {{ .width }}; max-height: {{ .height }};">
        </a>
      </div>
      {{ end }}
    </div>
  </div>
  
  
  <div class="content">
    {{ .Content }}
  </div>
</body>
</html>
{{ end }}
