{{ define "main" }}
<div class="container">
    <h3>{{ .Title }}</h3>
    <p>{{ .Description }}</p>

    <!-- Loop over each section -->
    {{ range .Params.sections }}
    <div>
        <div id="lottie-animation"></div>       
        <h4>{{ .section_name }}</h4>
        <div class="card-deck">
            <!-- Loop over files in the section -->
            {{ range .files }}
            <div class="card">
                <div class="card-body">
                    <!-- Check if the file has a link and make the name clickable -->
                    {{ if .link }}
                    <h5 class="card-title"><a href="{{ .link }}">{{ .name }}</a></h5>
                    {{ else }}
                    <h5 class="card-title">{{ .name }}</h5>
                    {{ end }}
                    <p class="card-text">{{ .description }}</p>

                    <!-- Responsive Table for Variables and I/O -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Variables</th>
                                    <th>I/O</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ .variables | markdownify | safeHTML }}</td>
                                    <td>{{ .io | markdownify | safeHTML }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <script>
            var anim = lottie.loadAnimation({
                container: document.getElementById('lottie-animation'), // the container for the animation
                renderer: 'svg', // Render as SVG
                loop: true, // Loop the animation
                autoplay: true, // Auto-play the animation
                path: '/anim/dev.json' // Path to the Lottie file
            });

            // Set a timeout to hide the animation and show the content after 1 second
            setTimeout(function() {
                document.getElementById('lottie-animation').style.display = 'none';
                document.getElementById('content').style.display = 'block';
            }, 1500); // 1000 milliseconds = 1 second
        </script>
    </div>
    {{ end }}
</div>
{{ end }}
