{{ define "main" }}
<div class="container">
    {{ range $index, $element := .Params.research_tools }}
    <div class="mb-5">
        <h2 class="text-center">{{ $element.heading }}</h2>
        <div class="row mt-3{{ if modBool $index 2 }} flex-row-reverse{{ end }}">
            <div class="col-md-6">
                <img src="{{ $element.image | relURL }}" alt="{{ $element.heading }}" class="img-fluid">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <p class="lead">{{ $element.description | safeHTML }}</p>
                    <a href="{{ $.Site.BaseURL }}{{ $element.link }}" class="btn btn-primary btn-lg">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
