{{ define "main" }}
<!-- Single Page Container -->
<div id="single-{{ .Title | urlize }}" class="single-container">

  <!-- Page Navigation -->
  <nav id="single-nav" class="navbar">
    <ul>
      {{ range .Params.sections }}
      <li>
        {{ if .url }}
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" class="external">{{ .name }}</a>
        {{ else }}
        <a href="#single-{{ .name | urlize }}">{{ .name }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </nav>

  <!-- Page Sections -->
  {{ range .Params.sections }}
  {{ if not .url }}
  <section id="single-{{ .name | urlize }}" class="content-section card">
    <h2>{{ .name }}</h2>
    {{ if or (eq .textPosition "right") (eq .textPosition "left") }}
    <div class="section-content {{ if eq .textPosition "right" }}text-right{{ else }}text-left{{ end }}">
    {{ else if or (eq .textPosition "bottom") (eq .textPosition "top") }}
    <div class="section-content {{ if eq .textPosition "bottom" }}text-bottom{{ else }}text-top{{ end }}">
    {{ else }}
    <div class="section-content">
    {{ end }}
      <div class="text-content">
        <p>{{ .text | markdownify | replaceRE `(<a href="[^"]*")` `$1 target="_blank"` | safeHTML }}</p>
        {{ if .list }}
        <div class="list-content">
          <ul>
            {{ range .list }}
            <li>{{ . | markdownify | replaceRE `(<a href="[^"]*")` `$1 target="_blank"` | safeHTML }}</li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
      {{ if .image }}
      <div class="img-content">
        <img src="{{ .image | relURL }}" alt="{{ .name }}" style="width: {{ .imageWidth }}; height: {{ .imageHeight }};">
      </div>
      {{ end }}
      {{ if .videos }}
      {{ range .videos }}
      <div class="video-block">
        <p class="video-title">{{ .videoTitle }}</p>
        <div class="video-content">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ .videoID }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div> <!-- Close the .section-content here -->
  </section>
  {{ end }}
  {{ end }}

  <!-- Back to Top Button -->
  <button id="backToTopBtn" title="Back to Top"><i class="fas fa-arrow-up"></i></button>
{{ end }}

{{ define "scripts" }}
{{ $singleJs := resources.Get "js/single.js" }}
{{ $backToTopJs := resources.Get "js/backtotop.js" }} <!-- Get the backtotop.js resource -->
<script src="{{ $singleJs.Permalink }}"></script>
<script src="{{ $backToTopJs.Permalink }}"></script> <!-- Include the backtotop.js script -->
{{ end }}

