{{ define "main" }}
<!-- Single Page Container -->
<div id="single-{{ .Title | urlize }}" class="single-container container mt-5">

  <!-- Page Navigation -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      Page Menu
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav">
        {{ range .Params.sections }}
        <li class="nav-item">
          <a class="nav-link" href="{{ if not .url }}#single-{{ .name | urlize }}{{ else }}{{ .url }}{{ end }}" {{ if .url }}target="_blank" rel="noopener noreferrer"{{ end }}>{{ .name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    
  </div>

  <!-- Page Sections -->
  {{ range .Params.sections }}
  {{ if not .url }} <!-- Check if the section does not have a URL-only property -->
  <div id="single-{{ .name | urlize }}" class="card mb-5">
    <div class="card-body">
      {{ if not (strings.HasPrefix .name "http") }}
      <h2 class="card-title">{{ .name }}</h2>
      {{ end }}
      <div class="row {{ if eq .textPosition "right" }}flex-row-reverse{{ else if eq .textPosition "top" }}flex-column-reverse{{ else if eq .textPosition "bottom" }}flex-column{{ end }}">
        <div class="col-12">
          {{ if .image }}
          <img class="float-{{ if eq .textPosition "right" }}left{{ else }}right{{ end }} img-fluid rounded mr-3 mb-3" src="{{ .image | relURL }}" alt="{{ .name }}" style="width: {{ .imageWidth }}; height: {{ .imageHeight }};">
          {{ end }}
          <p class="card-text lead">{{ .text | markdownify | safeHTML }}</p> <!-- Added the 'lead' class to make the text bigger -->
          {{ if .list }}
          <ul class="list-group">
              {{ range .list }}
              <li class="list-group-item">{{ . | markdownify | safeHTML }}</li> <!-- Using Bootstrap's list-group for a more elegant look -->
              {{ end }}
          </ul>
          {{ end }}
      </div>      
      </div>
      {{ if .videos }}
      {{ range .videos }}
      <p class="text-center mt-3">{{ .videoTitle }}</p>
      <div class="embed-responsive embed-responsive-16by9 my-4" style="max-width: 60%; margin: auto;">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .videoID }}" allowfullscreen></iframe>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ end }}
  <!-- Back to Top Button -->
  <button id="backToTopBtn" class="btn btn-secondary" title="Back to Top"><i class="fas fa-arrow-up"></i></button>
{{ end }}




{{ define "scripts" }}
{{ $singleJs := resources.Get "js/single.js" }}
{{ $backToTopJs := resources.Get "js/backtotop.js" }} <!-- Get the backtotop.js resource -->
<script src="{{ $singleJs.Permalink }}"></script>
<script src="{{ $backToTopJs.Permalink }}"></script> <!-- Include the backtotop.js script -->
{{ end }}


