{{ define "main" }}

<!-- Single Page Container -->
<div id="single-{{ .Title | urlize }}" class="single-container">

  <!-- Page Navigation -->
  <nav id="single-nav" class="navbar">
    <ul>
      {{ range .Params.sections }}
      <li><a href="#single-{{ .name | urlize }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
  </nav>

  <!-- Page Sections -->
  {{ range .Params.sections }}
  <section id="single-{{ .name | urlize }}">
    <h2>{{ .name }}</h2>
    <p>{{ .text | markdownify }}</p>  <!-- For links -->
    <img src="{{ .image | relURL }}" alt="{{ .name }}" style="width: {{ .imageWidth }}; height: {{ .imageHeight }};">
  </section>
  {{ end }}

  <!-- Back to Top Button -->
  <button id="backToTopBtn" title="Back to Top">&#10148;</button>
</div>

{{ end }}

{{ define "scripts" }}
{{ $singleJs := resources.Get "js/single.js" }}
<script src="{{ $singleJs.Permalink }}"></script>
{{ end }}
