body {
  font-family: 'Times New Roman', serif;
  background-color: #f5f5f5;
  line-height: 1.6;
}

/* Existing Card Styles */
.custom-card {
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, opacity 0.3s; /* Merged Transform Transition */
  opacity: 0;
  transform: translateY(50px);
}

.custom-card.in-view {
  opacity: 1;
  transform: translateY(0);
}

.custom-card:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px) scale(1.1); /* Merged Hover Effect */
  transform: rotateY(10deg);
  transition: transform 0.5s;
}

.card-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.card-content p {
  margin-bottom: 1rem;
  color: #555;
}

.card-content a.learn-more {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid #007BFF;
}

.card-content a.learn-more:hover {
  color: #0056b3;
  border-color: #0056b3;
}

/* New CSS for Equal Height and Centering Last Row */

.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.card.custom-card {
    display: flex;
    flex-direction: column;
}

.card.custom-card .card-body {
    flex: 1 1 auto;
}

.row.center-last-row {
    justify-content: center;
}
