body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.members-section {
  margin-top: 50px;
  text-align: center;
}

.members-section ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the member cards */
  gap: 30px;
}

.member {
  display: grid; /* Use grid to control the layout */
  grid-template-rows: auto 1fr auto; /* Each section (image, name and info) will have its own row */
  align-items: center;
  justify-items: center;
  max-width: 300px;
  min-height: 350px; /* Fixed height for all member cards */
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  padding: 20px;
  background-color: #ffffff;
}

.member:hover {
  transform: scale(1.02);
  box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}

.member-pic img {
  width: 120px;
  height: 120px;
  border-radius: 60%;
  margin-bottom: 10px;
  object-fit: cover;
}

.member-info {
  text-align: center; /* Change text alignment to center */
  line-height: 1.5;
}

.member-info h4 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #333;
}

.member-info p {
  font-size: 0.9em;
  color: #666;
  white-space: nowrap; /* Prevents text from breaking into multiple lines */
  overflow: hidden; /* Hides any text that overflows the container */
  text-overflow: ellipsis; /* Adds an ellipsis (...) when the text overflows */
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 5px;
  color: #666;
  font-size: 18px;
  text-decoration: none;
}

/* Style Font Awesome icons */
.fab {
  font-family: "Font Awesome 5 Brands";
}

.fas {
  font-family: "Font Awesome 5 Free";
}

header, footer {
  width: 100%;
  margin: 0 auto;
}

/* Style for institution logos container */
.institutions-logos {
  text-align: center; /* Center align the logos */
  padding: 20px; /* Add some padding around the logos */
  background-color: #f5f5f5; /* Light background for the logos section */
  margin-top: 30px; /* Space above the logos section */
}

/* Style for each logo */
.institutions-logos .logos a {
  display: inline-block; /* Display logos inline */
  margin: 10px; /* Space around each logo */
  vertical-align: middle; /* Align logos vertically */
  text-decoration: none; /* No underline on the links */
}

/* Style for the images inside the logos */
.institutions-logos .logos img {
  max-width: 100px; /* Maximum width for each logo */
  max-height: 50px; /* Maximum height for each logo */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  border: 0; /* No border for images */
}
