:root {
  --main-font: 'Roboto', sans-serif;
  --header-font: 'Lato', sans-serif;
  --main-color: #333;
  --highlight-color: #76b077;
  --background-color: #FFF;
  --button-hover-color: #ff4f4f;
  --section-heading-color: var(--main-color); 
}

/* =================================== *
 * GLOBAL STYLES
 * =================================== */
body {
  font-family: var(--main-font);
  background-color: var(--background-color);
}

/* =================================== *
 * CARD
 * =================================== */
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 20px 20px 30px 20px; 
}

/* =================================== *
 * SINGLE CONTAINER
 * =================================== */
.single-container {
  padding-top: 80px;
  max-width: 1000px;
  margin: 0 auto;
  background: var(--background-color);
  padding: 20px;
  border-radius: 10px;
}

/* =================================== *
 * TEXT CONTENT
 * =================================== */
 .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px; 
}

.text-content ul {
  list-style: none;
  padding: 0;
}

.text-content ul li {
  font-size: calc(0.7rem + 0.6vw); /* Adjust the size as needed */
  margin-bottom: 15px;
  padding: 10px;
  border-left: 5px solid var(--highlight-color);
  background-color: #f6f8fa;
  transition: all 0.3s ease-in-out;
}

.text-content ul li:hover {
  background-color: #e9ecef;
  border-left: 5px solid var(--secondary-color);
  transform: translateX(10px);
}

.text-content p {
  color: var(--main-color);
  font-size: calc(0.8rem + 0.6vw); /* Adjust the size as needed */
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-top: 20px;
  text-align: justify;
}

/* =================================== *
 * CONTENT SECTION
 * =================================== */
.content-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 50px;
}

.content-section h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--header-font);
  color: var(--section-heading-color);
  padding-top: 20px;
  padding: 10px;
  background-color: var(--highlight-color);
  width: fit-content;
  border-radius: 5px;
}

.content-section::after {
  content: "";
  display: table;
  clear: both;
}

/* =================================== *
 * SECTION CONTENT
 * =================================== */
.section-content {
  display: flex;
  gap: 20px;
}

.text-right {
  flex-direction: row-reverse;
}

.text-left {
  flex-direction: row;
}

.text-top, .text-bottom {
  flex-direction: column;
}

.text-top .video-block, .text-bottom .video-block {
  width: 100%;
}

.text-top .text-content {
  order: 1;
}

.text-top .img-content, .text-top .video-block {
  order: 2;
}

.text-bottom .text-content {
  order: 2;
}

.text-bottom .img-content, .text-bottom .video-block {
  order: 1;
}

/* =================================== *
 * IMG CONTENT
 * =================================== */
.img-content {
  flex-shrink: 0;
  margin: auto;
}

.img-content img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0; /* Adjust space above and below the image */
}

/* =================================== *
 * VIDEO CONTENT
 * =================================== */
.video-block {
  width: 60%; 
  margin: 20px auto;
}

.video-content {
  position: relative;
  overflow: hidden;
  padding-top: 33.75%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  width: 60%;
  margin: 0 auto;
}

.video-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-title {
  text-align: center;
  color: blue;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* =================================== *
 * RESPONSIVE STYLES
 * =================================== */
@media (max-width: 768px) {
  .section-content {
    flex-direction: column;
  }
}
