.members-section {
  margin-top: 50px;
}

.members-section h3 {
  font-size: 1.2em;
}

.member {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.member-pic img {
  width: 120px; /* Increased size by 50% */
  height: 120px; /* Increased size by 50% */
  border-radius: 40%;
  order: -1; /* Move the image to the left */
}

.member-info {
  margin-right: 15px; /* Adjusted margin to create space between the image and text */
  text-align: right; /* Align the text to the right */
}

.member-info h4 {
  font-size: 1em;
  margin-bottom: 5px;
  text-align: left; /* Align the heading text to the left */
}

.member-info p {
  font-size: 0.8em;
  color: #888;
  text-align: left; /* Align the paragraph text to the left */
}

.members-section ul {
  list-style-type: none; /* Remove bullet marks */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Display two columns */
  gap: 20px; /* Adjust the gap between columns */
}

.member {
  display: flex;
  align-items: center;  
}