<div id="footer">
  <footer class="site-footer">
    <div class="footer-content">
      <p>{{ .Site.Data.footer.title }}</p>
      <p><a href="{{ .Site.Data.footer.privacy_policy_link }}">{{ .Site.Data.footer.privacy_policy }}</a></p>
      <div class="social-icons">
        <a href="https://www.youtube.com/channel/UCbxAVXpc2pc2sjjn64oPdIQ" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.linkedin.com/company/cluster-of-excellence-phenorob/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/your_twitter_handle" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </footer>
</div>
