<div id="footer" class="container mt-5">
  <footer class="site-footer text-center bg-light py-4">
      <p>{{ .Site.Data.footer.title }}</p>
      <p><a href="{{ .Site.Data.footer.privacy_policy_link }}">{{ .Site.Data.footer.privacy_policy }}</a></p>
      <div class="social-icons mt-3">
          <a href="https://www.youtube.com/channel/UCbxAVXpc2pc2sjjn64oPdIQ" target="_blank" class="text-danger mx-3">
              <i class="fab fa-youtube fa-2x"></i>
          </a>
          <a href="https://www.linkedin.com/company/cluster-of-excellence-phenorob/" target="_blank" class="text-primary mx-3">
              <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a href="https://twitter.com/your_twitter_handle" target="_blank" class="text-info mx-3">
              <i class="fab fa-twitter fa-2x"></i>
          </a>
      </div>
  </footer>
</div>

