<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Logo -->
  <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.Data.header.logoImagePath | relURL }}" alt="{{ .Site.Data.header.logoAlt }}" style="max-height: 75px;">
  </a>

  <div class="d-flex flex-grow-1 justify-content-center d-none d-md-block">
    <div class="text-center">
        <h1 class="mb-0 display-4">{{ .Site.Data.header.title }}</h1>
        <h2 class="h5 mb-0">{{ .Site.Data.header.description }}</h2>
    </div>
  </div>


  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
          <!-- Dropdown 1 -->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="link2Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ .Site.Data.header.Link2Name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="link2Dropdown">
                  {{ range .Site.Data.header.Link2Dropdown }}
                      {{ $url := .url }}
                      {{ if not (strings.HasPrefix $url "http") }}
                          {{ $url = printf "%s%s" $.Site.BaseURL $url }}
                      {{ end }}
                      <a class="dropdown-item" href="{{ $url }}">{{ .name }}</a>
                  {{ end }}
              </div>
          </li>

          <!-- Dropdown 2 -->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ .Site.Data.header.ToolsName }}
              </a>
              <div class="dropdown-menu" aria-labelledby="toolsDropdown">
                  {{ range .Site.Data.header.ToolsDropDown }}
                      {{ $url := .Link }}
                      {{ if not (strings.HasPrefix $url "http") }}
                          {{ $url = printf "%s%s" $.Site.BaseURL $url }}
                      {{ end }}
                      <a class="dropdown-item" href="{{ $url }}">{{ .Name }}</a>
                  {{ end }}
              </div>
          </li>

            <!-- Research-->
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="link1Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ .Site.Data.header.Link1Name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="link1Dropdown">
                {{ range .Site.Data.header.Link1Dropdown }}
                    {{ $url := .url }}
                    {{ if not (strings.HasPrefix $url "http") }}
                        {{ $url = printf "%s%s" $.Site.BaseURL $url }}
                    {{ end }}
                    <a class="dropdown-item" href="{{ $url }}">{{ .name }}</a>
                {{ end }}
            </div>
            </li>

          <!-- Link without Dropdown -->
           <li class="nav-item">
              <a class="nav-link" href="{{ .Site.Data.header.Link3Link }}" target="_blank">{{ .Site.Data.header.Link3Name }}</a>
           </li>
      </ul>
  </div>
</nav>

