{{ define "main" }}

<div class="slider-container">
  <div class="slider">
    {{ range .Params.slides }}
    <div class="mySlides">
      <img src="{{ .image | relURL }}" alt="Slide image">
      <h2>{{ .heading }}</h2>
      {{ $text := .text }}
      {{ if .granar_link }}
        {{ $text = replace $text "GRANAR" (print "<a href=\"" .granar_link "\" target=\"_blank\">GRANAR</a>") }}
      {{ end }}
      {{ if .mecha_link }}
        {{ $text = replace $text "MECHA" (print "<a href=\"" .mecha_link "\" target=\"_blank\">MECHA</a>") }}
      {{ end }}
      {{ if .dumux_link }}
        {{ $text = replace $text "Dumux-ROSI" (print "<a href=\"" .dumux_link "\" target=\"_blank\">Dumux-ROSI</a>") }}
      {{ end }}
      {{ if .cplantbox_link }}
        {{ $text = replace $text "CPlantBox" (print "<a href=\"" .cplantbox_link "\" target=\"_blank\">CPlantBox</a>") }}
      {{ end }}
      {{ if .simplace_link }}
        {{ $text = replace $text "Simplace" (print "<a href=\"" .simplace_link "\" target=\"_blank\">Simplace</a>") }}
      {{ end }}
      {{ if .agroc_link }}
        {{ $text = replace $text "AgroC" (print "<a href=\"" .agroc_link "\" target=\"_blank\">AgroC</a>") }}
      {{ end }}
      {{ if .terrsysmp_link }}
        {{ $text = replace $text "TerrSysMP" (print "<a href=\"" .terrsysmp_link "\" target=\"_blank\">TerrSysMP</a>") }}
      {{ end }}
      <p>{{ $text | safeHTML }}</p>
      <p><a href="{{ .link }}" target="_blank">Learn more</a></p>
    </div>
    {{ end }}
    <a class="prev" href="#" onclick="return false;">&#10094;</a>
    <a class="next" href="#" onclick="return false;">&#10095;</a>
  </div>

  <div class="dots-container">
    {{ range .Params.slides }}
    <span class="dot"></span>
    {{ end }}
  </div>
</div>

{{ end }}
